@font-face {
    font-family: Cardo;
    src: url(./assets/fonts/Cardo.zip);
}
@font-face {
    font-family: Code;
    src: url(./assets/fonts/Nanum_Gothic_Coding.zip);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    font-family: Cardo;
}